// section1

.course-img {
  height: 240px;
  width: 100%;
}

.course-lg-img {
  height: 550px;
  margin: 68px 8px 8px 0;
  background: white;
  padding: 0 8px 8px 0;
  border-radius: 20px;
  box-shadow: 1px 1px 0px #84ccc9;
  position: relative;
}

.course-arrow {
  width: 12px;
  height: 12px;
  margin-left: 8px;
}

.course-label {
  padding: 20px 20px 20px 0;
  border-radius: 0 0 10px 0;
  margin: 0;
  background-color: white;
  position: absolute;
  z-index: 1;
}

.course-info {
  margin: 320px 0 0 -70px;
  max-width: 596px;
  border-radius: 20px;
  border: 2px solid #84ccc9;
  background-color: white;
  position: absolute;
  z-index: 1;
}

.course-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;

  @include lg {
    width: 164px;
    height: 44px;
  }
}

// section2
.features-img {
  height: 240px;
  width: 100%;
  margin: 44px 0 44px 8px;
  padding: 8px 12px 0 8px;
  border-radius: 20px;
  box-shadow: -1px -1px 0px #e79776;

  @include lg {
    height: 400px;
    padding: 12px 0 0 12px;
    margin: 64px 0 0 12px;
  }
}

.features-label {
  padding: 8px 0 8px 16px;
  border-radius: 0 0 0 10px;
  margin: 0 12px 0 0;
  background-color: #f6f4e9;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}

.features-text {
  max-width: 274px;
  padding: 8px;
  border-radius: 10px 10px 0 0;
  background-color: #f6f4e9;
  position: absolute;
  z-index: 1;
  left: 32px;
  top: 228px;
}

.features-lg-text {
  @include lg {
    letter-spacing: 8px;
    padding: 16px 8px;
    border-radius: 0 10px 0 0;
    margin: 0;
    background-color: #f6f4e9;
    position: absolute;
    z-index: 1;
    left: 24px;
    top: 94px;
  }
}
