.px-custom {
    padding-left: 52px;
    padding-right: 52px;
  }
  
  .explore-labals { 
    border-radius: 5px;
   
}

.explore-labal {
    background-color:$primary-2 ;
    width: 168px;
  height: 36px;
  padding-bottom: 4px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  

  &:hover {
    background-color: $primary;
    color: $white;
  }
}

//  section3

.explore-bordered-title {

  border: 2px solid #E79776; /* 邊框寬度、樣式與顏色 */
  padding: 8px;          /* 添加內邊距以避免文本緊貼邊框 */
  border-radius: 5px;     /* 讓邊框的角稍微圓滑一點（可選） */
  width: fit-content;
  text-align: left;
  color: #E79776;
}

.primary-2 {
  color: $primary-2;
}