.index{
    .indexBanner{
        padding-top: 44px;
        padding-bottom: 398px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .news{
        .cardText{
            right:11.3px;

            .cardTitle{
                letter-spacing: 4px;
            }

            .cardContent{
                letter-spacing: 10px;
            }
        }
    }
}

@include lg{
    .index{
        .indexBanner{
            padding-top: 385px;
            padding-bottom: 229.75px;
            .logoIcon{
                width: 100px;
                height: 36.25px;
            }
        }
    }
}

.index{
    .featureCourses{
        .decoLine{
            height: 8px;
            &::before{
                content: "";
                position: absolute;
                background-image: url(/assets/images/line/標題裝飾.png);
                width: 100%;
                height: 8px;
            }
        }
        
        .cardTitle{
            right:11.3px;
            letter-spacing: 2px;
        }
        .cardText{
            left: 20px;
            max-width: 280px;
            padding:6px 11px;
        }
    }
}

@include lg{
    .index{
        .featureCourses{
            .decoLine{
                height: 12px;
                &::before{
                    height: 12px;
                }   
            }

            .cardTitle{
                letter-spacing: 4px;
            }
            .cardText{
                left: 24px;
                max-width: 111px;
                height: 260px;
                padding:16px 8px;
                -webkit-writing-mode: vertical-rl;
                writing-mode: vertical-rl;
                letter-spacing: 8px;
            }
        }
    }
}