.index{
    .indexBanner{
        padding-top: 44px;
        padding-bottom: 398px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .cardText{
        right:11.3px;
    }
}

@include lg{
    .index{
        .indexBanner{
            padding-top: 385px;
            padding-bottom: 229.75px;
            .logoIcon{
                width: 100px;
                height: 36.25px;
            }
        }
    }
}

.index{
    .featureCourses{
        .decoLine{
            height: 8px;
            &::before{
                content: "";
                position: absolute;
                background-image: url(/assets/images/line/標題裝飾.png);
                width: 100%;
                height: 8px;
            }
        }
    }
}

@include lg{
    .index{
        .featureCourses{
            .decoLine{
                height: 12px;
            &::before{
                height: 12px;
            }
        }
        }
    }
}