<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>愉運 Move with Joy</title>
  </head>
  <body>

     <%- include('./layout/header'); -%>
   <!-- section1 -->
  <div class="container py-3 pt-lg-0 pb-lg-8 px-lg-15 mt-4 mb-6 my-lg-20">
    <div class="text-center">
      <h1 class="fs-3 fs-lg-0">探索課程</h1>
      <hr class="my-3 my-lg-8" />
      <h2 class="fs-5 fs-lg-1">豐富生活體驗，開啟人生新篇章</h2>
    </div>
  </div>

  <!-- section2 -->
    <div class="container text-center  ">
         <!-- 手機版標籤 -->
      <div class="row g-2 d-lg-none ">
        <div class="col-6  ">
          <div class="p-3 explore-labals  explore-labal"><a href="#">運動保健</a></div>
        </div>
        <div class="col-6">
          <div class="p-3 explore-labals explore-labal"><a href="#">心理成長</a></div>
        </div>
        <div class="col-6">
          <div class="p-3 explore-labals explore-labal "><a href="#">社區活動</a></div>
        </div>
        <div class="col-6">
          <div class="p-3 explore-labals explore-labal "><a href="#">生活技能</a></div>
        </div>
      </div>
    </div>
    
    <!-- 電腦版標籤 -->
    <div class="container d-none d-lg-flex"> 
      
        <a class="btn btn-primary explore-labals  explore-labal me-2 mb-2 " href="#" role="button">運動保健</a>
        <a class="btn btn-primary explore-labals  explore-labal me-2 mb-2" href="#" role="button">心理成長</a>
        <a class="btn btn-primary explore-labals  explore-labal me-2 mb-2 " href="#" role="button">社區活動</a>
        <a class="btn btn-primary explore-labals  explore-labal me-2 mb-2" href="#" role="button">生活技能</a>
    </div>
    </div>

    <!-- section3 -->

    <div class="card" style="width: 18rem">
      <img
        src="/assets/images/14811.png"
        class="card-img-top"
        alt="elderly people"
      />
      <div class="card-body">
        <h5 class="card-title">卡片元件</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit,
          iusto odio assumenda alias id nobis earum!
        </p>
      </div>
    </div>

    
    <%- include('./layout/footer'); -%>
     <script type="module" src="../main.js"></script>
  </body>
</html>
