<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>愉運 Move with Joy</title>
  </head>
  <body>

     <%- include('./layout/header'); -%>
   <!-- section1 -->
  <div class="container py-3 pt-lg-0 pb-lg-8 px-lg-15 mt-4 mb-6 my-lg-20">
    <div class="text-center">
      <h1 class="fs-3 fs-lg-0">探索課程</h1>
      <hr class="my-3 my-lg-8" />
      <h2 class="fs-5 fs-lg-1">豐富生活體驗，開啟人生新篇章</h2>
    </div>
  </div>

<!-- section2 -->
<div class="container text-center">
  <!-- 手機版標籤 -->
  <div class="row g-2 d-lg-none">
      <div class="col-6 d-flex justify-content-center">
          <div class="p-3 explore-labals explore-labal"><a href="#">運動保健</a></div>
      </div>
      <div class="col-6 d-flex justify-content-center">
          <div class="p-3 explore-labals explore-labal"><a href="#">心理成長</a></div>
      </div>
      <div class="col-6 d-flex justify-content-center">
          <div class="p-3 explore-labals explore-labal"><a href="#">社區活動</a></div>
      </div>
      <div class="col-6 d-flex justify-content-center">
          <div class="p-3 explore-labals explore-labal"><a href="#">生活技能</a></div>
      </div>
  </div>
</div>

<!-- 電腦版標籤 -->
<div class="container d-none d-lg-flex">
  <a class="btn btn-primary explore-labals explore-labal me-2 mb-2" href="#" role="button">運動保健</a>
  <a class="btn btn-primary explore-labals explore-labal me-2 mb-2" href="#" role="button">心理成長</a>
  <a class="btn btn-primary explore-labals explore-labal me-2 mb-2" href="#" role="button">社區活動</a>
  <a class="btn btn-primary explore-labals explore-labal me-2 mb-2" href="#" role="button">生活技能</a>
</div>



   <!-- section3 -->

<!-- 手機版標籤 -->
<!-- 1 -->
<div class="d-lg-none">
  <div class="d-flex justify-content-center p-2">
    <div class="explore-card bg-primary-2">
      <img src="/assets/images/man-helping-woman-straighten-her-back.png" class="explore-card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title explore-bordered-title ">輕鬆有氧運動</h5>
        <p class="card-text mb-2">低衝擊性有氧運動,如步行、騎腳踏車或游泳,提升心肺功能和耐力。</p>
        <div class="d-flex justify-content-end">
          <a href="#" class="btn btn-primary primary-2">了解更多</a>
        </div>
      </div>
    </div>
  </div>
  <!-- 2 -->
  <div class="d-flex justify-content-center p-2">
    <div class="explore-card bg-primary-2">
      <img src="/assets/images/smiling-elder-couple-performing-exercise-with-dumbbells-home.png" class="explore-card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title explore-bordered-title">肌力訓練</h5>
        <p class="card-text mb-2">使用輕量阻力器材或彈力帶進行的肌力鍛煉,增強肌肉力量,預防肌肉萎縮。</p>
        <div class="d-flex justify-content-end">
          <a href="#" class="btn btn-primary primary-2">了解更多</a>
        </div>
      </div>
    </div>
  </div>
  <!-- 3 -->
  <div class="d-flex justify-content-center p-2">
    <div class="explore-card bg-primary-2">
      <img src="/assets/images/calm-home-exercises-bright-room-yearold-woman-practices-yoga.png" class="explore-card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title explore-bordered-title">平衡與穩定性訓練</h5>
        <p class="card-text mb-2">專注於提升平衡感和協調性,減少跌倒風險,常見動作包括站立平衡和單...</p>
        <div class="d-flex justify-content-end">
          <a href="#" class="btn btn-primary primary-2">了解更多</a>
        </div>
      </div>
    </div>
  </div>
  <!-- 4 -->
  <div class="d-flex justify-content-center p-2">
    <div class="explore-card bg-primary-2">
      <img src="/assets/images/senior-women-doing-yoga-exercises-gym-yoga-mats.png" class="explore-card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title explore-bordered-title">柔軟度與伸展課程</h5>
        <p class="card-text mb-2">通過伸展運動來增強關節的柔軟度。</p>
        <div class="d-flex justify-content-end">
          <a href="#" class="btn btn-primary primary-2">了解更多</a>
        </div>
      </div>
    </div>
  </div>

  <!-- 5 -->
  <div class="d-flex justify-content-center p-2">
    <div class="explore-card bg-primary-2">
      <img src="/assets/images/full-shot-women-practising-tai-chi-together.png" class="explore-card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title explore-bordered-title">太極拳</h5>
        <p class="card-text mb-2">這些溫和的身心運動結合呼吸與動作,提升身體平衡、柔韌性及精神專注力。</p>
        <div class="d-flex justify-content-end">
          <a href="#" class="btn btn-primary primary-2">了解更多</a>
        </div>
      </div>
    </div>
  </div>
  <!-- 6 -->
  <div class="d-flex justify-content-center p-2">
    <div class="explore-card bg-primary-2">
      <img src="/assets/images/17925.png" class="explore-card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title explore-bordered-title">社交健身活動</h5>
        <p class="card-text mb-2">如團體舞蹈、健身操或社交步行,結合社交互動與運動,促進心理健康與社交聯繋。</p>
        <div class="d-flex justify-content-end">
          <a href="#" class="btn btn-primary primary-2">了解更多</a>
        </div>
      </div>
    </div>
  </div>
  <!-- 7 -->
  <div class="d-flex justify-content-center p-2">
    <div class="explore-card bg-primary-2">
      <img src="/assets/images/Exclude.png" class="explore-card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title explore-bordered-title">樂齡晨間操</h5>
        <p class="card-text mb-2">動作簡單易學,幫助提高靈活性、增強體力,促進身心健康,活力迎接每一天。</p>
        <div class="d-flex justify-content-end">
          <a href="#" class="btn btn-primary primary-2">了解更多</a>
        </div>
      </div>
    </div>
  </div>
  <!-- 8 -->
  <div class="d-flex justify-content-center p-2">
    <div class="explore-card bg-primary-2">
      <img src="/assets/images/senior-man-doing-pushup-exercise-hardwood-floor.png" class="explore-card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title explore-bordered-title">強健核心訓練</h5>
        <p class="card-text mb-2">專注於核心肌群的訓練,通過簡單安全的運動提升核心力量,增強平衡和穩定性,支持日常活動能...</p>
        <div class="d-flex justify-content-end">
          <a href="#" class="btn btn-primary primary-2">了解更多</a>
        </div>
      </div>
    </div>
  </div>
  <!-- 9 -->
  <div class="d-flex justify-content-center p-2">
    <div class="explore-card bg-primary-2">
      <img src="/assets/images/senior-male-working-out-home.png" class="explore-card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title explore-bordered-title">強力重訓課程</h5>
        <p class="card-text mb-2">通過適度的重量訓練增強肌肉力量和骨密度,提高日常活動能力和整體健康。</p>
        <div class="d-flex justify-content-end">
          <a href="#" class="btn btn-primary primary-2">了解更多</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 電腦版標籤 -->
<div class="d-none d-lg-block">
  <div class="explore-card-container">
    <!-- 1 -->
    <div class="explore-card">
      <img src="/assets/images/man-helping-woman-straighten-her-back.png" class="explore-card-img-top" alt="...">
      <h5 class="explore-bordered-title">輕鬆有氧運動</h5>
      <p class="card-text mb-2">低衝擊性有氧運動,如步行、騎腳踏車或游泳,提升心肺功能和耐力。</p>
      <div class="explore-btn-container">
        <a href="#" class="explore-btn">了解更多</a>
      </div>
    </div>

    <!-- 2 -->
    <div class="explore-card">
      <img src="/assets/images/smiling-elder-couple-performing-exercise-with-dumbbells-home.png" class="explore-card-img-top" alt="...">
      <h5 class="explore-bordered-title">肌力訓練</h5>
      <p class="card-text mb-2">使用輕量阻力器材或彈力帶進行的肌力鍛煉,增強肌肉力量,預防肌肉萎縮。</p>
      <div class="explore-btn-container">
        <a href="#" class="explore-btn">了解更多</a>
      </div>
    </div>

    <!-- 3 -->
    <div class="explore-card">
      <img src="/assets/images/calm-home-exercises-bright-room-yearold-woman-practices-yoga.png" class="explore-card-img-top" alt="...">
      <h5 class="explore-bordered-title">平衡與穩定性訓練</h5>
      <p class="card-text mb-2">專注於提升平衡感和協調性,減少跌倒風險,常見動作包括站立平衡和單...</p>
      <div class="explore-btn-container">
        <a href="#" class="explore-btn">了解更多</a>
      </div>
    </div>

    <!-- 4 -->
    <div class="explore-card">
      <img src="/assets/images/senior-women-doing-yoga-exercises-gym-yoga-mats.png" class="explore-card-img-top" alt="...">
      <h5 class="explore-bordered-title">柔軟度與伸展課程</h5>
      <p class="card-text mb-2">通過伸展運動來增強關節的柔軟度。</p>
      <div class="explore-btn-container">
        <a href="#" class="explore-btn">了解更多</a>
      </div>
    </div>

    <!-- 5 -->
    <div class="explore-card">
      <img src="/assets/images/full-shot-women-practising-tai-chi-together.png" class="explore-card-img-top" alt="...">
      <h5 class="explore-bordered-title">太極拳</h5>
      <p class="card-text mb-2">這些溫和的身心運動結合呼吸與動作,提升身體平衡、柔韌性及精神專注力。</p>
      <div class="explore-btn-container">
        <a href="#" class="explore-btn">了解更多</a>
      </div>
    </div>

    <!-- 6 -->
    <div class="explore-card">
      <img src="/assets/images/17925.png" class="explore-card-img-top" alt="...">
      <h5 class="explore-bordered-title">社交健身活動</h5>
      <p class="card-text mb-2">如團體舞蹈、健身操或社交步行,結合社交互動與運動,促進心理健康與社交聯繋。</p>
      <div class="explore-btn-container">
        <a href="#" class="explore-btn">了解更多</a>
      </div>
    </div>

    <!-- 7 -->
    <div class="explore-card">
      <img src="/assets/images/Exclude.png" class="explore-card-img-top" alt="...">
      <h5 class="explore-bordered-title">樂齡晨間操</h5>
      <p class="card-text mb-2">動作簡單易學,幫助提高靈活性、增強體力,促進身心健康,活力迎接每一天。</p>
      <div class="explore-btn-container">
        <a href="#" class="explore-btn">了解更多</a>
      </div>
    </div>

    <!-- 8 -->
    <div class="explore-card">
      <img src="/assets/images/senior-man-doing-pushup-exercise-hardwood-floor.png" class="explore-card-img-top" alt="...">
      <h5 class="explore-bordered-title">強健核心訓練</h5>
      <p class="card-text mb-2">專注於核心肌群的訓練,通過簡單安全的運動提升核心力量,增強平衡和穩定性,支持日常活動能力。</p>
      <div class="explore-btn-container">
        <a href="#" class="explore-btn">了解更多</a>
      </div>
    </div>

    <!-- 9 -->
    <div class="explore-card">
      <img src="/assets/images/senior-male-working-out-home.png" class="explore-card-img-top" alt="...">
      <h5 class="explore-bordered-title">強力重訓課程</h5>
      <p class="card-text mb-2">通過適度的重量訓練增強肌肉力量和骨密度,提高日常活動能力和整體健康。</p>
      <div class="explore-btn-container">
        <a href="#" class="explore-btn">了解更多</a>
      </div>
    </div>
  </div>
</div>

<!-- section4 -->
<div class="container">
  <picture>
    <source
      srcset="/assets/images/dividers/divider-sm.png"
      media="(max-width: 576px)"
      class="mt-6 mb-2"
    />
    <img
      src="/assets/images/dividers/divider-lg.png"
      alt=""
      class="mt-lg-10 mb-lg-4"
    />
  </picture>
  <h3 class="fs-3 fs-lg-1 mb-6 mb-lg-10">探索其他領域</h3>
</div>

 

    <%- include('./layout/footer'); -%>
     <script type="module" src="../main.js"></script>
  </body>
</html>
